setuptools~=56.0.0
requests~=2.28.1
pip~=22.3
attrs~=18.1.0
ipaddress~=1.0.23
cryptography~=3.4.7
Pillow~=9.3.0
Jinja2~=3.1.2
wcwidth~=0.2.5
numpy~=1.20.3
certifi~=2021.5.30
six~=1.16.0
idna~=2.6
urllib3~=1.26.12
chardet~=3.0.4
pyparsing~=2.4.7
packaging~=20.9
zipp~=3.10.0